body{
    background: url("gv.jpg"); 
    font-family: Arial, Helvetica, sans-serif
}

 .jumbotron {
  width: 0%;

 }
  #search-title{
    margin: 0;
    font-size: 20px;
    color: red;
  }

  input[type=search],
  textarea {
  height: 45px;
  font-size: 14px;
  border: 1px solid rgb(61, 110, 61)
}

  img {
    border-radius: 48px;
    height:300px;
    margin-top: 100px;
    margin-right: 20px;
    float: left;
  }
  .input-field{
    background-color: rgb(85, 104, 85)  
  
  }

  #run-search {
    
    position: absolute;
    width: 10%;
    color: rgb(61, 102, 61)
    text-align: center;
    background: rgb(128, 108, 108);
   
  }

  .card-header{
    
    border-radius: 48px;
    
  }
 .card-body{
   margin-top:-10px;
   background-color: rgb(85, 104, 85)
  
 }
  .container {
    
    padding: 30px 0;
   
    font-size: 12px;
  }

  .row{
    display: left;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
 
  }
.card {
    font-size: 20px;
    color:black; 
}
  